@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap'); */
::-webkit-scrollbar {
    width: 8px;
    /* display: none; */
    background-color: rgb(12, 11, 11);
  }
  
  ::-webkit-scrollbar-track {
    display:none;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(15, 195, 255);
    filter: drop-shadow(20 20 20px rgb(15, 195, 255));
    border-radius: 6px;
    
  }